@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #fffef2;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.flex-container {
  display: flex;
}

.centre {
  align-items: center;
  justify-content: center;
}

.w-100-mh-100vh {
  width: 100%;
  min-height: 100vh;
}

.no-text-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.quiz-container {
  width: 95%;
  padding: 1rem;
  margin: 1rem 0;
  background: #ecf6ff;
  border: 2px solid #d9ebf5;
  border-radius: 0.5rem;
  flex-wrap: wrap;
}

.quiz-header {
  width: 100%;
  padding: 1rem;
}

.title {
  width: 100%;
  padding: 1rem;
  font-family: "Freckle Face", cursive;
  font-size: 5.2rem;
  text-align: center;
}

.quiz-body {
  width: 100%;
  padding: 1rem;
  flex-wrap: wrap;
}

.category-icon {
  width: 60%;
  height: auto;
  margin: 1rem 0;
  padding: 1rem;
  filter: drop-shadow(0.7rem 0.7rem 0.5rem #555555);
}

.question {
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 1.8rem;
}

.answer {
  width: 100%;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  background: #ffffff;
  border: 1.5px solid #d9ebf5;
  border-bottom: 3px solid #d9ebf5;
  text-transform: capitalize;
}

.selected-answer {
  border-left: 5px solid #136cbc;
}

.quiz-footer {
  width: 100%;
  padding: 1rem;
}

.submit-answer-btn {
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
  border: none;
  border-radius: 2rem;
  background: #f27d76;
  font-size: 1.6rem;
  color: #eeeeee;
}

.loading {
  border: 1.5rem solid #d9ebf5;
  border-top: 1.5rem solid #136cbc;
  border-radius: 100%;
  width: 12rem;
  height: 12rem;
  padding: 1rem;
  margin-bottom: 1rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mock-answer {
  color: #ffffff;
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.correct-answer {
  border: 1.5px solid #90ee90;
  border-bottom: 3px solid #90ee90;
  border-left: 5px solid #90ee90;
}

.incorrect-answer {
  border: 1.5px solid #d0312d;
  border-bottom: 3px solid #d0312d;
  border-left: 5px solid #d0312d;
}

.slider {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 1rem 0;
}

@media screen and (min-width: 300px) {
  .quiz-container {
    width: 90%;
  }

  .category-icon {
    width: 45%;
  }
}

@media screen and (min-width: 500px) {
  .quiz-container {
    width: 70%;
  }

  .category-icon {
    width: 40%;
  }
}

@media screen and (min-width: 700px) {
  .quiz-container {
    width: 50%;
  }

  .category-icon {
    width: 35%;
  }
}

@media screen and (min-width: 1000px) {
  .quiz-container {
    width: 25%;
  }

  .category-icon {
    width: 35%;
  }
}
